form {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 29px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.377);
}

span {
  color: rgba(255, 108, 34, 1);
}

input {
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 15rem;
  padding-left: 1rem;
}

button {
  width: 10rem;
  height: 2rem;
  background-color: rgba(46, 175, 178, 1);
  border: 1px solid rgba(46, 175, 178, 1);
  border-radius: 4px;
  color: white;
}

button:hover {
  cursor: pointer;
}
